@{
    Layout = "_Layout";
}

@model List<PointPwR>

<h2>List of Points</h2>

<table>
    <thead>
        <tr>
            <th>Destination Code</th>
            <th>Street Name</th>
            <th>Partner ID</th>
            <th>Partner Key</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var point in Model)
        {
            <tr>
                <td>@point.DestinationCode</td>
                <td>@point.StreetName</td>
                <td>@point.PartnerId</td>
                <td>@point.PartnerKey</td>
                <td>@point.City</td>
            </tr>
        }
    </tbody>
</table>
